<form>
  <div class="form-group">
      <label for="firstName">firstName</label>
      <input required ngModel name="firstName" #firstName = "ngModel" id="firstName" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">firstName is  required</div>
  </div>
 <div class="form-group">
   <label for="comment">comment</label>
   <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control">
   
   </textarea>
  
  </div>
  <button class="btn btn-primary">submit</button>

</form>